<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html lang="cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="icon" href="favicon.ico">
  <link rel="manifest" href="manifest.json">
  <title>凯发娱乐-真人百家乐首选品牌</title>
</head>
<body>
<div id="app"></div>
<script src="./init/dynamic_config.js"></script>
<script src="./init/index.js"></script>
<script>init(<%= isProduction %>)</script>
</body>
</html>
